.card{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    .cardContent{
        height: 100%;
        background-color: transparent
    }
    .container{
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        h5{
            padding: 5px;
        }
    }
    .content{
        padding:  0px 5px;
        padding-top: 20px;
    }
    .chipContainer{
        padding: 5px 0; 
        .chip1,.chip2{
            height: 25px;
            width: fit-content;
            border-radius: 7px;
            padding: 5px;
            padding-left: 0;
            margin: 10px;
            color: white;
        }
        .chip1{
            background-color: #03c9d7;
        }
        .chip2{
            background-color:#fb9678;
        }
    }
    .footer{
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left{
            display: flex;
            .avatar{
                margin: 5px;
                margin-left: 0;
            }
        }
    }

}